@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.container {
  @include mainPageContainer;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 24px;

    .form {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 24px;
      margin-right: 40px;
      box-shadow: 0 0 20px rgb(0 0 0 / 10%);
      border-radius: 12px;

      & input {
        margin-top: 20px;
      }

      & input:first-child {
        margin-top: 0;
      }
    }
  }
}