@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.container {
  @include mainPageContainer;

  .cart {
    display: flex;
    margin-top: 24px;
    width: 100%;
  }

  .imageContainer {
    width: 100%;
    height: calc(100vh - $headerHeight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image {
      width: 360px;
      height: 320px;
    }

    .imageLoading {
      display: none;
    }

    .text {
      font-size: 36px;
      line-height: 1.112;
      font-weight: 700;
    }
  }
}