@import 'src/common/styles/sass/mixins';

.cartListItemWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;

  .goodsItemWrapper {
    display: flex;
    width: calc(100% - 180px - 195px - 3*16px);

    .goodsItemImageWrapper {
      width: 80px;
      height: 100px;
      margin-right: 16px;
      position: relative;
      font-size: 0;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      border-radius: 8px;
      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(41, 43, 83, .03);
        z-index: 2;
      }

      .goodsItemImage {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
      }
    }
  }

  .goodsItemInfo {
    width: calc(100% - 80px - 16px);

    .goodsItemName, .goodsItemBrand {
      color: #242424;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;
    }
  }

  .goodsItemPrice {
    text-align: right;
    width: 195px;
    margin: 0 8px;

    .goodsItemPriceNew {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }
  }
}