@import 'src/common/styles/sass/mixins';

.cartFormSidebar {

  @media (min-width: 1450px) {
    width: calc(100% / 12 * 3);
  }

  .sidebarStickyWrap {
    @media (min-width: 1167px) {
      position: sticky;
      top: 10px;
    }

    .cartOrder {
      font-size: 16px;
      line-height: 22px;
      color: #8b8b8b;
      width: 100%;

      @media (min-width: 1024px) {
        width: auto;
        padding: 24px;
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
        border-radius: 12px;
      }

      .cartOrderTop {
        margin-bottom: 24px;

        .totalLine {
          font-size: 18px;
          line-height: 24px;
          font-weight: 700;
          color: #242424;
          display: flex;
          justify-content: space-between;

          @media (min-width: 1024px) {
            font-size: 24px;
            line-height: 32px;
          }
        }

        .countLine {
          margin-top: 12px;
          display: flex;
          justify-content: space-between;
        }

        .discountLine {
          @extend .countLine;
        }
      }

      .cartOrderButton {
        @include commonButtonStyle;
        width: 100%;
      }

      @media (min-width: 1024px) {
        font-size: 16px;
        line-height: 22px;
        padding: 11px 24px 13px;
      }
    }
  }
}