@import 'src/common/styles/sass/mixins';

.goodsCardWrapper {
  width: 25%;
  padding: 16px;

  .goodsCard {
    border: 1px solid #d1d1d1;
    padding: 16px;
    border-radius: 12px;
    height: 100%;

    .imageWrapper {
      aspect-ratio: 1 / 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      overflow: hidden;
      padding: 5px;

      &:after {
        content: "";
        background-color: rgba(0, 0, 0, 0.05);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .image {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        display: inline-block;
        flex-shrink: 0;
      }

      .preloaderCircular {
        @include preloaderCircularSize(3.5em);
      }
    }

    .content {
      margin-top: 16px;

      .description {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #777676;
        margin-bottom: 10px;
      }

      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: #151515;
        }

        .button {
          border-radius: 12px;
          padding: 8px 12px;

          .buttonTitle {
            text-transform: none;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            color: white;
          }
        }
      }
    }
  }
}

.snackBar {
  top: 100px;

  .alert {
    background-color: rgba(36, 36, 36, .94);
    border-radius: 8px;
  }
}

