@import 'src/common/styles/sass/variables';

.item {
  color: #242424;
  cursor: pointer;
  font-size: 16px;
  transition: .4s;

  &:hover {
    color: $mainColor;
  }

  &:first-child {
    margin-bottom: 10px;
  }
}
