.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: white;

  .logo {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
}