.header {
  height: 80px;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;

  .wrapper {
    display: flex;
    align-items: flex-end;

    .totalCost {
      margin-right: 20px;
      font-size: 18px;
    }
  }
}