@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.header {
  height: $headerHeight;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .mainPageButton {
    @include CommonButtonStyle;
    padding: 11px 40px;
  }

  .cartButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .totalCost {
      margin-right: 20px;
      font-size: 18px;
    }
  }
}