@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

.preloader {
  @include preloaderCircularSize(6em);
  position: absolute;
  border-radius: 50%;
  animation: preloader 1s infinite linear;
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}