@import 'src/common/styles/sass/variables';

@mixin mainPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - $headerHeight);
  max-width: 1504px;
  padding: 0 32px;
  margin: 0 auto;
}

@mixin commonButtonStyle {
  min-width: fit-content;
  padding: 13px 20px;
  background-color: $mainColor;
  border: 2px solid $mainColor;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  transition: .4s;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;

  &:hover {
    background-color: #1163b4;
    border: 2px solid #1163b4;
  }
}

@mixin minusButtonHorizontalLine {
  content: '';
  width: 12px;
  height: 1px;
  background: #242424;
  display: block;
  left: calc(50% - 6px);
  position: absolute;
  top: 50%;
}

@mixin commonInput {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  color: #242424;
  font-size: 16px;
  padding: 10px 14px 11px;
  height: 44px;
  outline: 0;
  width: 100%;

  &:focus {
    border-color: $mainColor;
    box-shadow: inset 1px 0 0 $mainColor, inset 0 1px 0 $mainColor, inset -1px 0 0 $mainColor, inset 0 -1px 0 $mainColor;
  }
}